:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
ol, ul, li {
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    font-weight: 300;
    position: relative;
}

/*Header*/
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    background: url(./images/desktop/image-hero.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 4em 5em;
    text-align: left;
}
.header-container::before {
    content: "";
    background-color: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}
.header-container__item {
    z-index: 1000;
    background-color: transparent;
}

.header-container__item.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.header-top-logo {
    display: block;
}
.header-top-logo img {
    height: auto;
    vertical-align: bottom;
}

.header-top-nav {
    display: flex;
    height: 2em;
}
.header-top-nav-items {
    display: flex;
}
.header-top-nav-item {
    display: inline-block;
    padding: .3em .3em .3em 1em;
    margin-left: .8em;
    position: relative;
    cursor: pointer;
}

.header-top-nav-item::after {
    content: "";
    width: 90%;
    height: 2px;
    background-color: var(--white);
    position: absolute;
    z-index: 3000;
    top: 100%;
    left: 12%;
    transform: scaleX(0);
}
.header-top-nav-item:hover::after {
    transform: scaleX(1);
    width: 90%;
    transition: all .2s ease-in-out;
}
.header-top-nav-item:not(:hover)::after {
    transform: scaleX(0);
    transition: all .2s ease-out;
}

.header-top-nav-item a {
    color: var(--white);
}

.hamburger-mobile-menu {
    display: none;
    color: var(--white);
    vertical-align: bottom;
    align-self: center;
    font-size: 1.5em;
}

.header-bottom-title {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 300;
    border: solid 2px var(--white);
    padding: 1em 1em 1em 1em;
    margin-bottom: 1.5em;
    display: inline-block;
    z-index: 1000;
    line-height: 2.5em;
    letter-spacing: .2em;
}
.header-bottom-title h1 {
    margin-right: 2em;
}

.about-section {
    position: relative;
    display: flex;
    margin: 0 0 10em 0;
    padding: 4em 0;
    text-align: left;
    z-index: -1;

}
.about-img-space {
    flex-basis: 50%;
    position: relative;
    left: 6em;
}
.about-img-space img {
    width: 100%;
    height: auto;
}
.about-text-space {
    flex-basis: 50%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10em;
    right: 2.5em;
    padding: 6em 6em 0 6em;
}

.about-text-space h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    /* color: var(--dark-gray); */
    color: var(--black);
    font-weight: 300;
}
.about-text-space p {
    line-height: 1.7em;
    margin: 1.5em 0;
    font-size: 1em;
    color: var(--dark-gray);
}

/*Creations Section*/
.creations-section-container {
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin: 4em 6em; 
    min-height: 100vh;
    max-width: 100%;
    z-index: 10000;

}

.creations-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0 0 2em 0;
    width: 100%;
}
.creations-section-header h2 {
    font-size: 2.5em;
    font-weight: 300;
    align-self: center;
    vertical-align: bottom;
    padding-top: .3em;
}

.see-all-btn {
    border: solid 1px var(--black);
    padding: .5em 2em;
}
.creations-section-header__btn {
    align-self: center;
    cursor: pointer;
    font-weight: 300;
}
.creations-section-header__btn:hover {
    background-color: var(--black);
    color: var(--white);
    transition: all .2s;
}
.creations-section-header__btn:not(:hover) {
    background-color: var(--white);
    color: var(--black);
    transition: all .2s;
}

.only-mobile {
    margin-top: 1em;
    display: none;
}


.creations-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}
.creations-grid-items {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    margin: .5em;
}
.left-grid-item {
    margin-left: 0;
}
.right-grid-item {
    margin-right: 0;
}
.creations-grid-items::before {
    content: "";
    background-color: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}
.creations-grid-items:hover::before {
    background-color: var(--white);
    opacity: .7;
    transition: all .2s;
}
.creations-grid-items:hover .grid-item__title {
    color: var(--black);
    transition: all .2s;
}
.creations-grid-items:not(:hover)::before {
    background-color: var(--black);
    opacity: .4;
    transition: all .2s;
}
.creations-grid-items:not(:hover) .grid-item__title {
    color: var(--white);
    transition: all .2s;
}


.grid-item__title {
    font-size: 2em;
    color: var(--white);
    margin: 0 0 1em 1em;
    font-weight: 300;
    z-index: 1000;
    line-height: 1.2em;
}

.grid-item__deep-earth {
    background: url(./images/desktop/image-deep-earth.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item__night-arcade {
    background: url(./images/desktop/image-night-arcade.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item__soccer-team {
    background: url(./images/desktop/image-soccer-team.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item__the-grid {
    background: url(./images/desktop/image-grid.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item__above-vr {
    background: url(./images/desktop/image-from-above.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item__borealis {
    background: url(./images/desktop/image-pocket-borealis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item__curiosity {
    background: url(./images/desktop/image-curiosity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item__fisheye {
    background: url(./images/desktop/image-fisheye.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Footer*/
.footer-container {
    background-color: var(--black);
    color: var(--white);
    padding: 2em 6.4em 2em 6.4em;
}
.footer-container a {
    color: var(--white);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}


.footer-right-space {
    align-self: flex-start;
}

.footer-nav-items,
.social-media-menu-items {
    display: flex;
    justify-content: flex-end;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footer-nav-item {
    margin: 1em 1.5em 0 0;
    display: inline-block;
    position: relative;
    padding: 0 .5em .3em 0;
    cursor: pointer;
    /* border-bottom: 1px solid wheat; */
}
.social-media-menu-item {
    margin: 0 0 1em 1em;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.social-media-menu {
    font-size: 1.5em;
}

.footer-nav-item::after,
.social-media-menu-item::after {
    content: "";
    width: 90%;
    height: 2px;
    background-color: var(--white);
    position: absolute;
    z-index: 3000;
    top: 100%;
    left: 0;
    transform: scaleX(0);
}
.footer-nav-item:hover::after,
.social-media-menu-item:hover::after {
    transform: scaleX(1);
    width: 90%;
    transition: all .2s ease-in-out;
}
.footer-nav-item:not(:hover)::after,
.social-media-menu-item:not(:hover)::after {
    transform: scaleX(0);
    transition: all .2s ease-out;
}

.footer-container small {
    color: var(--dark-gray);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--very-dark-gray); }


/*Queries*/
@media (max-width: 910px) {
    .creations-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 450px 450px 450px 450px;
        row-gap: .5em;
        column-gap: .5em;
        position: relative;
    } 
    .creations-grid-items {
        min-height: 450px;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        cursor: pointer;
        margin: 0;
        align-self: center;
        background-position: top left;
    }
    .left-grid-item {
        margin: 0;
    }
    .right-grid-item {
        margin: 0;
    }
}
@media (max-width: 850px) {
    .header-container {
        text-align: center;
        background: url(./images/mobile/image-hero.jpg);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        padding:4em 2em;
        align-items: center;
    }
    .header-top {
        width: 100%;
    }
    .header-top-nav-items {
        display: none;
    }
    .hamburger-mobile-menu {
        display: block;
    }
    .header-bottom-title {
        margin: 0 0 2em 0;
        padding: 1em 1em 1em 1em;
        font-size: 1.2em;
        text-align: left;
    }
    .header-bottom-title h1 {
        margin-right: 0;
    }

    .about-section {
        flex-direction: column;
        margin: 2em 0;
        padding: 0 1em;
        text-align: center;
    }
    .about-img-space {
        position: static;
    }
    .about-text-space {
        position: static;
        padding: 0;
        margin-top: 2em;
    }
    .about-text-space p {
        margin-top: 1em;
        padding: 0 2em;
    }

    .footer-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .footer-right-space {
        align-self: center;
        margin-top: 1em;
    }
    .social-media-menu-items {
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .social-media-menu-item {
        margin: 0;
    }
    .social-media-menu-items .social-media-menu-item:not(:nth-child(1)) {
        margin-left: 1em;
    }
    .footer-nav-item {
        margin: 0;
        padding: 0;
    }
    .footer-nav-items .footer-nav-item:not(:nth-child(5)) a{
        margin-right: 1em;
    }

}
@media screen and (max-width: 480px) {


    .creations-section-container {
        padding: 0;
        margin: 0;
        margin-bottom: 3em;
    }
    .creations-section-header {
        display: block;
        text-align: center;
    }

    .creations-grid {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 140px 140px 140px 140px 140px 140px 140px 140px;
        row-gap: 1em;
        position: relative;
        margin-bottom: .5em;
    }

    .left-grid-item {
        margin: 0;
    }
    .right-grid-item {
        margin: 0;
    }
    .creations-grid-items {
        min-height: 150px;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        cursor: pointer;
        margin: 0 .5em;
    }
    .grid-item__title {
        font-size: 1.5em;
    }
    .grid-item__deep-earth {
        background: url(./images/mobile/image-deep-earth.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-item__night-arcade {
        background: url(./images/mobile/image-night-arcade.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-item__soccer-team {
        background: url(./images/mobile/image-soccer-team.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-item__the-grid {
        background: url(./images/mobile/image-grid.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-item__above-vr {
        background: url(./images/mobile/image-from-above.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-item__borealis {
        background: url(./images/mobile/image-pocket-borealis.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-item__curiosity {
        background: url(./images/mobile/image-curiosity.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-item__fisheye {
        background: url(./images/mobile/image-fisheye.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .creations-section-header__btn {
        display: none;
    }
    .only-mobile {
        display: inline-block;
        /* font-size: 1.5em; */
        font-weight: bold;
        margin: .5em;
    }
    .mobile-btn {
        padding: .6em 2.5em;
        vertical-align: bottom;
    }

    .footer-container {
        text-align: center;
        padding: 2em 0;
    }
    .footer-right-space {
        align-self: center;
        margin-top: 1em;
    }
    .footer-nav{
        margin: 1em 0;
    }
    .footer-links,
    .footer-nav-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .social-media-menu-items {
        justify-content: center;
        margin-bottom: .5em;
    }
    .footer-nav-item {
        margin: .5em 0;
    }
    .social-media-menu-item {
        margin: 0 .5em;
    }


    .social-media-menu-items .social-media-menu-item:not(:nth-child(1)) {
        margin-left: 0;
    }
    .footer-nav-items .footer-nav-item:not(:nth-child(5)) a{
        margin-right: 0;
    }
    
}
